#map-contacts-1,
#map-contacts-2{
    width: 100%;
    height: 450px;
}

.container.promo_block .h3 {
    margin-bottom: 0;
}

.bx-authform-input-container input[type="text"],
.bx-authform-input-container input[type="password"]{
	border: 1px solid #cdcdcd;
	background-color: #ffffff;
}

.bx-authform-formgroup-container .btn-primary{	
    text-decoration: none;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #d11717;
    color: #fff;
    border: none;
    min-height: 14px;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    font-family: Calibri;
    font-size: 12px;
    font-weight: bold;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.bx-authform-formgroup-container .btn-primary:hover{
	background-color: #ff0000;
}
.hr.bxe-light{
	border-bottom: 1px solid #cdcdcd;
}

#footer .container .four.columns{
	box-sizing: content-box;
}
#footer h3, #footer .h3{
	margin-top: 0;
}
.logo img{
	width: 275px;
}
@media only screen and (max-width: 959px) and (min-width: 902px){
	.order-wrap .container .twelve.columns {
		width: 680px;
	}
}

@media only screen and (max-width: 901px) and (min-width: 768px)
{
	.order-wrap .container .five.columns, .container .twelve.columns {
		width: 740px;
	}
}

@media only screen and (max-width: 901px) and (min-width: 480px){
	.order-wrap .container .five.columns, .container .twelve.columns {
		float: none;
		margin: 0 auto;
		display: block;
	}
}


a {
    cursor: pointer;
}

#footer #feedbackForm input, 
#footer #feedbackForm textarea {
    color: #000;
}